<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sup</title>
</head>
<body>
    <h1>Signup</h1>

    <form action="/signup" method="post">
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" required minlength="8">
        </div>
        <div>
            <button>Signup</button>
        </div>
    </form>

    <p>Already have an account? <a href="/login">Login</a>.</p>
</body>
</html>