*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid black;

    background-color: #202124;
}

#hamburgerAndLogo{
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: white;
}
#hamburgerMenu{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

#lupa, #delSearchBtn{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#searchBarContainer{
    display: flex;
    align-items: center;
    background-color: #5f6368;
    width: 450px;
    padding: 10px;
    border-radius: 8px;
}
#searchInput{
    width: 100%;
    height: 30px;

    margin: 0 10px;
    background-color: #5f6368;
    border: none;
    color: white;
}

#searchInput:focus{
    outline: none;
}

#searchInput::placeholder{
    color: white;
}
#logoContainer{
    display: flex;
    align-items: center;
}

#logoutContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
main{
    display: flex;
    width: 100vw;
    height: 100vh;
    margin-top: 20px;
}

#sectionsContainer{
    background-color: coral;
    padding: 10px 5px;
}

.singleSection{
    margin-bottom: 20px;
}
.sectionIcon{
    width: 40px;
    height: 40px;
}
#mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 10px;

    border: 3px solid black;
    padding: 3px;
}

#createFormContainer{
    background-color: aqua;
    width: 450px;
    padding: 10px;
    border-radius: 8px;
}

#titleInput{
    width: 100%;
}

#contentInput{
    width: 100%;
}

#titleAndBookmark{
    display: flex;
}



#bookmarkIcon{
    width: 30px;
    height: 30px;
    padding: 10px;
}

#bookmarkLabel{
    background-color: darkgoldenrod;
    width: 30px;
    height: 30px;
}

#reminderLabel{
    width: 20px;
    height: 20px;
    background-color: chartreuse;
}

#reminderAndColors{
    display: flex;
}
#bookmarkInput{
    display: none;
}

#reminderInput{
    display: none
}

#btnsContainer{
    display: flex;
}
